* {
	box-sizing: border-box;
}
body {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: contain;
	background-position: 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: serif;
	margin: 0;
	height: 100vh;
}
.game-content__inner {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}
.title {
	margin: 0;
	margin-bottom: 20px;
	font-size: 40px;
	text-align: center;
	color: #fff;
	text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe, 0 0 80px #bc13fe,
		0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
}
.canvas-bg {
	background-color: rgba(0, 0, 0, 0.7);
	margin-right: 15px;
	width: 320px;
}
canvas {
	width: 100%;
}
.game-content__next {
	position: relative;
	width: 150px;
	height: 180px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 15px;
}
.game-content__score {
    height: 100px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 15px;
}
.game-content__score span {
    display: block;
}
.score__title {
    margin-bottom: 10px;
}
.score__total {
    font-size: 22px;
}
.game-controls {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom {
    transform: rotate(180deg);
    margin-bottom: 0;
}
.left {
    transform: rotate(90deg);
    position: absolute;
    top: 35px;
    left: 0;
}
.right {
    transform: rotate(90deg);
    position: absolute;
    top: 35px;
    right: 0;
}
.next__title {
	position: absolute;
	top: 10px;
	left: 55px;
	display: block;
	width: 100%;
	color: #fff;
}
.next__inner {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
canvas,
.game-content__next,
.game-content__score {
	animation: pulsate 1.5s infinite alternate;
	border: 0.2rem solid #fff;
	padding: 0.4rem;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe,
		0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}
@keyframes pulsate {
	100% {
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe, 0 0 80px #bc13fe,
			0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
	}

	0% {
		text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe, 0 0 45px #bc13fe,
			0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
	}
}
